<div class="row" ng-submit="submit(craft)" ng-controller="CraftController">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="page-header">
            <h1>Production Calculator</h1>
        </div>
        <form name="craftForm">
            <div class="form-group">
                <label for="craft-name"> Name for this set of skills: </label>
                <input class="form-control"
                       id="craft-name"
                       value="{{ craft.name }}"
                       ng-model="craft.name">

                <h2 class="total-cost">Total Cost:
                    <span>{{ craft.totalCost }}</span></h2>

                <!--SCROLLS-->
                <h2>Scrolls</h2>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="scroll in craft.scrolls"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            scroll.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ scroll.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ scroll.amount }}"
                                   min="0"
                                   ng-model="scroll.amount">
                           </label>
                        </span>
                    </li>
                </ul>


                <!--POTIONS-->
                <h2>Potions</h2>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="potion in craft.potions"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            potion.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ potion.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ potion.amount }}"
                                   min="0"
                                   ng-model="potion.amount">
                           </label>
                        </span>
                    </li>
                </ul>
                <!--WEAPONS-->
                <h2>Weapons</h2>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="weapon in craft.weapons"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            weapon.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ weapon.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ weapon.amount }}"
                                   min="0"
                                   ng-model="weapon.amount">
                           </label>
                        </span>
                    </li>
                </ul>
                <!--ALCHEMY-->
                <h2>Alchemy</h2>
                <h3>Alchemy: Contact</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="contact in craft.alchemyContact"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            contact.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ contact.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ contact.amount }}"
                                   min="0"
                                   ng-model="contact.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h3>Alchemy: Elixir</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="elixir in craft.alchemyElixir"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            elixir.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ elixir.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ elixir.amount }}"
                                   min="0"
                                   ng-model="elixir.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h3>Alchemy: Gas</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="gas in craft.alchemyGas"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            gas.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ gas.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ gas.amount }}"
                                   min="0"
                                   ng-model="gas.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h3>Alchemy: Weapon</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="weapon in craft.alchemyWeapon"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            weapon.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ weapon.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ weapon.amount }}"
                                   min="0"
                                   ng-model="weapon.amount">
                           </label>
                        </span>
                    </li>
                </ul>
                <!-- TRAPS-->

                <h2>Traps</h2>
                <h3>Traps: Gas</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="trap in craft.trapsGas"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            trap.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ trap.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ trap.amount }}"
                                   min="0"
                                   ng-model="trap.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h3>Traps: Noisemaker</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="trap in craft.trapsNoisemaker"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            trap.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ trap.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ trap.amount }}"
                                   min="0"
                                   ng-model="trap.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h3>Traps: Weapon</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="trap in craft.trapsWeapon"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            trap.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ trap.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ trap.amount }}"
                                   min="0"
                                   ng-model="trap.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h3>Traps: Flame/Acid</h3>
                <ul class="production-ul container-fluid">
                    <li ng-repeat="trap in craft.trapsFlameAcid"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            trap.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ trap.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ trap.amount }}"
                                   min="0"
                                   ng-model="trap.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h2>Traps: Explosive</h2>
                 <ul class="production-ul container-fluid">
                    <li ng-repeat="trap in craft.trapsExplosive"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            trap.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ trap.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ trap.amount }}"
                                   min="0"
                                   ng-model="trap.amount">
                           </label>
                        </span>
                    </li>
                </ul>

                <h2>Traps: Mechanical</h2>
                                <ul class="production-ul container-fluid">
                    <li ng-repeat="trap in craft.trapsMechanical"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            trap.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ trap.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ trap.amount }}"
                                   min="0"
                                   ng-model="trap.amount">
                           </label>
                        </span>
                    </li>
                </ul>
                <h2>Armor</h2>
                                    <ul class="production-ul container-fluid">
                    <li ng-repeat="armorSet in craft.armor"
                        class="row production-li">
                        <span
                            class="col-xs-12 col-sm-4 col-md-4 craft-name"><strong>{{
                            armorSet.name
                            }}</strong>
                        </span>
                        <span class="col-xs-12 col-sm-4 col-md-4"><strong>Cost:
                        </strong>
                            {{ armorSet.cost }}
                        </span>
                        <span class="col-xs-2 col-sm-4 col-md-4">
                           <label>
                               <input
                                   class="form-control production-form-input"
                                   type="number"
                                   value="{{ armorSet.amount }}"
                                   min="0"
                                   ng-model="armorSet.amount">
                           </label>
                        </span>
                    </li>
                </ul>
    </div>

        <span ng-show="showErrorAlert" class="alert">
        There is an error! {{errorAlert}}
      </span>
    <div>
        <button ng-disabled="craftForm.$invalid || submitted"
                class="btn btn-lg btn-success" type="submit">Save
        </button>
    </div>
    </form>
</div>
</div>




