<!-- crafts/trades -->
<div class="formgroup">
  <h3>Crafts and Trades</h3>
  <label>Alchemy</label>
    <input type="number" min="0" ng-model="build.crafts.alchemy" id="crafts.alchemy" ng-class="{'invalid': invalid.alchemy}"/><br />
    <p ng-hide="!invalid.alchemy" style="color:red;">Must Purchase Herbal Lore</p>
  <label>Blacksmith</label>
    <input type="number" min="0" ng-model="build.crafts.blacksmith" id="crafts.blacksmith" ng-class="{'invalid': invalid.blacksmith}"/><br />
  <label>Create Potion</label>
    <input type="number" min="0" ng-model="build.crafts.createPotion" id="crafts.createPotion" ng-class="{'invalid': invalid.createPotion}"/><br />
  <label>Create Scroll</label>
    <input type="number" min="0" ng-model="build.crafts.createScroll" id="crafts.createScroll" ng-class="{'invalid': invalid.createScroll}"/><br />
  <label>Create Trap</label>
    <input type="number" min="0" ng-model="build.crafts.createTrap" id="crafts.createTrap" ng-class="{'invalid': invalid.createTrap}"/><br />
    <p ng-hide="!invalid.createTrap" style="color:red;">Must Purchase Legerdermain</p>
  <label>Teacher</label>
    <input type="number" min="0" ng-model="build.crafts.teacher" id="crafts.teacher" ng-class="{'invalid': invalid.teacher}"/><br />
  <label>Wear Extra Armor</label>
    <input type="number" min="0" ng-model="build.crafts.wearExtraArmor" id="crafts.wearExtraArmor" ng-class="{'invalid': invalid.wearExtraArmor}"/><br />
  
  <label>Legerdemain</label>
    <input type="checkbox" ng-model="build.crafts.legerdermain" id="crafts.legerdermain" ng-class="{'invalid': invalid.legerdermain}"/><br />
  <label>Merchant</label>
    <input type="checkbox" ng-model="build.crafts.merchant" id="crafts.merchant" ng-class="{'invalid': invalid.merchant}"/><br />
  <label>Herbal Lore</label>
    <input type="checkbox" ng-model="build.crafts.herbalLore" id="crafts.herbalLore" ng-class="{'invalid': invalid.herbalLore}"/><br />
    <p ng-hide="!invalid.herbalLore" style="color:red;">Must Purchase Read and Write</p>
</div>
<!-- /crafts/trades -->
