<div class="formgroup">
  <h4>Weapon Skills</h4>
  <label>Archery</label>
  <input type="checkbox" ng-model="build.weapons.archery" id="weaponSkills.archery" ng-class="{'invalid': invalid.archery}"/><br />
  <label>One Handed Blunt</label>
  <input type="checkbox" ng-model="build.weapons.oneHandedBlunt" id="weaponSkills.oneHandedBlunt" ng-class="{'invalid': invalid.oneHandedBlunt}"/><br />
  <label>One Handed Edged</label>
  <input type="checkbox" ng-model="build.weapons.oneHandedEdged" id="weaponSkills.oneHandedEdged" ng-class="{'invalid': invalid.oneHandedEdged}"/><br />
  <label>One Handed Master</label>
  <input type="checkbox" ng-model="build.weapons.oneHandedMaster" id="weaponSkills.oneHandedMaster" ng-class="{'invalid': invalid.oneHandedMaster}"/><br />
  <label>Polearm</label>
  <input type="checkbox" ng-model="build.weapons.polearm" id="weaponSkills.polearm" ng-class="{'invalid': invalid.polearm}"/><br />
  <label>Small Weapon</label>
  <input type="checkbox" ng-model="build.weapons.smallWeapon" id="weaponSkills.smallWeapon" ng-class="{'invalid': invalid.smallWeapon}"/><br />
  <label>Staff</label>
  <input type="checkbox" ng-model="build.weapons.staff" id="weaponSkills.staff" ng-class="{'invalid': invalid.staff}"/><br />
  <label>Thrown Weapon</label>
  <input type="checkbox" ng-model="build.weapons.thrownWeapon" id="weaponSkills.thrownWeapon" ng-class="{'invalid': invalid.thrownWeapon}"/><br />
  <label>Two Handed Blunt</label>
  <input type="checkbox" ng-model="build.weapons.twoHandedBlunt" id="weaponSkills.twoHandedBlunt" ng-class="{'invalid': invalid.twoHandedBlunt}"/><br />
  <label>Two Handed Sword</label>
  <input type="checkbox" ng-model="build.weapons.twoHandedSword" id="weaponSkills.twoHandedSword" ng-class="{'invalid': invalid.twoHandedSword}"/><br />
  <label>Two Handed Master</label>
  <input type="checkbox" ng-model="build.weapons.twoHandedMaster" id="weaponSkills.twoHandedMaster" ng-class="{'invalid': invalid.twoHandedMaster}"/><br />
  <label>Two Weapons</label>
  <p ng-hide="!invalid.twoWeapons" style="color:red;">Must Purchase Florentine</p>
  <input type="checkbox" ng-model="build.weapons.twoWeapons" id="weaponSkills.twoWeapons" ng-class="{'invalid': invalid.twoWeapons}"/><br />
  <label>Florentine</label>
  <input type="checkbox" ng-model="build.weapons.florentine" id="weaponSkills.florentine" ng-class="{'invalid': invalid.florentine}"/><br />
  <label>Weapon Master</label>
  <input type="checkbox" ng-model="build.weapons.weaponMaster" id="weaponSkills.weaponMaster" ng-class="{'invalid': invalid.weaponMaster}"/><br />
  <label>Shield</label>
  <input type="checkbox" ng-model="build.weapons.shield" id="weaponSkills.shield" ng-class="{'invalid': invalid.shield}"/><br />
  <label>Style Master</label>
  <input type="checkbox" ng-model="build.weapons.styleMaster" id="weaponSkills.styleMaster" ng-class="{'invalid': invalid.styleMaster}"/><br />
</div>
