<!-- basics -->
<div class="formgroup">
  <label>Character Name</label>
  <input type=text ng-model="build.characterName" /><br />
  <label>Race</label>
  <select ng-model="build.races">
    <option value="human">Human</option>
    <option value="barbarian">Barbarian</option>
    <option value="biata">Biata</option>
    <option value="darkElf">Dark Elf</option>
    <option value="dryad">Dryad</option>
    <option value="dwarf">Dwarf</option>
    <option value="elf">Elf</option>
    <option value="gypsy">Gypsy</option>
    <option value="highOgre">High Ogre</option>
    <option value="highOrc">High Orc</option>
    <option value="hobling">Hobling</option>
    <option value="mysticWoodElf">Mystic Wood Elf</option>
    <option value="sarr">Saff</option>
    <option value="stoneElf">Stone Elf</option>
    <option value="wylderkin">Wylderkin</option>
  </select> 
</div>
<div class="formgroup">
  <label>Class</label>
  <select ng-model="build.pcClass">
    <option value="fighter">Fighter</option>
    <option value="rogue">Rogue</option>
    <option value="templar">Templar</option>
    <option value="adept">Adept</option>
    <option value="scout">Scout</option>
    <option value="scholar">Scolar</option>
    <option value="artisan">Artisan</option>
  </select> 
</div>
<div class="formgroup">
  <h3>Racial Skills</h3>
  <label>Break Command</label>
    <input type="number" min="0" ng-model="build.racials.breakCommand" id="racials.breakCommand" ng-class="{'invalid': invalid.breakCommand}"/><br />
  <label>Claws</label>
    <input type="number" min="0" ng-model="build.racials.claws" id="racials.claws" ng-class="{'invalid': invalid.claws}"/><br />
  <label>Gypsy Curse</label>
    <input type="number" min="0" ng-model="build.racials.gypsyCurse" id="racials.gypsyCurse" ng-class="{'invalid': invalid.gypsyCurse}"/><br />
  <label>Racial Assasinate</label>
    <input type="number" min="0" ng-model="build.racials.racialAssasinate" id="racials.racialAssasinate" ng-class="{'invalid': invalid.racialAssasinate}"/><br />
  <label>Resist Binding</label>
    <input type="number" min="0" ng-model="build.racials.resistBinding" id="racials.resistBinding" ng-class="{'invalid': invalid.resistBinding}"/><br />
  <label>Resist Command</label>
    <input type="number" min="0" ng-model="build.racials.resistCommand" id="racials.resistCommand" ng-class="{'invalid': invalid.resistCommand}"/><br />
  <label>Resist Element</label>
    <input type="number" min="0" ng-model="build.racials.resistElement" id="racials.resistElement" ng-class="{'invalid': invalid.resistElement}"/><br />
  <label>Resist Fear</label>
    <input type="number" min="0" ng-model="build.racials.resistFear" id="racials.resistFear" ng-class="{'invalid': invalid.racials.resistFear}"/><br />
  <label>Resist Magic</label>
    <input type="number" min="0" ng-model="build.racials.resistMagic" id="racials.resistMagic" ng-class="{'invalid': invalid.resistMagic}"/><br />
  <label>Resist Necromancy</label>
    <input type="number" min="0" ng-model="build.racials.resistNecromancy" id="racials.resistNecromancy" ng-class="{'invalid': invalid.resistNecromancy}"/><br />
  <label>Resist Poison</label>
    <input type="number" min="0" ng-model="build.racials.resistPoison" id="racials.resistPoison" ng-class="{'invalid': invalid.resistPoison}"/><br />
  <label>Racial Dodge</label>
    <input type="checkbox" min="0" ng-model="build.racials.racialDodge" id="racials.racialDodge" ng-class="{'invalid': invalid.racialDodge}" /><br />
    <p ng-hide="!invalid.racialDodge" style="color:red;">Only purchasable by Hobblings and Wylderkin</p>
  <label>Racial Slay</label>
    <input type="checkbox" min="0" ng-model="build.racials.racialSlay" id="racials.racialSlay" ng-class="{'invalid': invalid.racialSlay}"/><br />
    <p ng-hide="!invalid.racialSlay" style="color:red;">Only purchasable by High Orc and Wylderkin</p>
  <label>Racial Proficiency</label>
    <input type="checkbox" min="0" ng-model="build.racials.racialProficiency" id="racials.racialProficiency" ng-class="{'invalid': invalid.racialProficiency}"/><br />
    <p ng-hide="!invalid.racialProficiency" style="color:red;">Only purchasable by High Orc, High Ogre and Wylderkin</p>
</div>
<!-- /basics -->
