<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
      <h1>{{user.email}}</h1>
    </div>
    <p>{{user}}</p>
    <div ng-repeat="(key, value) in characters">
      <hr />
      <h2><a href="/character/{{value._id}}">Character</a></h2>
      <p>Name: {{value.characterName}}</p>
      <p>Race: {{value.races}}</p>
      <p>Class: {{value.pcClass}}</p>
    </div>
    <div ng-repeat="(key, value) in items">
      <hr />
      <h2><a href="/item/{{value._id}}">Item</a></h2>
        <p>Character : {{value.character | characterName: characters}}</p>
        <p>Magic Item ID : {{value.MIID}}</p>
        <p>Rep ID : {{value.repID}}</p>
        <p>Item Type : {{value.itemType}}</p>
        <p>Phys Rep Desc : {{value.physRepDesc}}</p>
        <p>Restriction : {{value.restriction}}</p>
        <p>Flaw : {{value.flaw}}</p>
        <p>Notes : {{value.notes}}</p>
        <p>Ritual Effect: {{value.ritualEffect}}</p>
    </div>
    <div ng-repeat="(key, value) in boards">
      <hr />
      <h2><a href="/board/{{value._id}}">Battle Board</a></h2>
        <p>Character : {{value.character | characterName: characters}}</p>
        <p>Name : {{value.name}}</p>
        <h3 ng-if="value.earth">Earth</h3>
        <div ng-repeat="spell in value.earth">
          <p>Name: {{spell.name}} Amount: {{spell.amount}}</p>
        </div>
        <h3 ng-if="value.celestial">Celestial</h3>
        <div ng-repeat="spell in value.celestial">
          <p>Name: {{spell.name}} Amount: {{spell.amount}}</p>
        </div>
        <h3 ng-if="value.highMagic">High Magic</h3>
        <div ng-repeat="spell in value.highMagic">
          <p>Name: {{spell.name}} Amount: {{spell.amount}} <span ng-if="spell.group">Group: {{spell.group}}</span></p>
        </div>
    </div>
  </div>
</div>
