<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
     <h1>Registration</h1>
     <p>User: {{user}}</p>
    </div>
    <form name="thingForm" ng-submit="submit(reg)">
      <div class="form-group">
        <label>Body</label>
        <input type="text" class="form-control" name="Body" placeholder="Write about stuff?" ng-model="reg.body" required>
      </div>
      <label>Select a Character</label>
      <div class="form-group" ng-repeat="(key, value) in characters">
        <label>
          <input type="radio" ng-model="reg.character" value="{{value._id}}" > {{value.characterName}}</label>
      <br />

      </div>
      <span ng-show="showErrorAlert" class="alert">
        <p>There is an error!</p>
      </span>
      <div>
        <button ng-disabled="thingForm.$invalid || submitted" class="btn btn-lg btn-success" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
</div>
