<h3>Battle Board</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
     <h1>Battle Board</h1>
    </div>
    <button ng-click="editor()" class="btn">Toggle Edior</button>
    <div ng-hide="editorEnabled">
        <p>Character : {{board.character | characterName: characters}}</p>
        <p>Name : {{board.name}}</p>
        <h3 ng-if="board.earth">Earth</h3>
        <div ng-repeat="spell in board.earth">
          <p>Name: {{spell.name}} Amount: {{spell.amount}}</p>
        </div>
        <h3 ng-if="board.celestial">Celestial</h3>
        <div ng-repeat="spell in board.celestial">
          <p>Name: {{spell.name}} Amount: {{spell.amount}}</p>
        </div>
        <h3 ng-if="board.highMagic">High Magic</h3>
        <div ng-repeat="spell in board.highMagic">
          <p>Name: {{spell.name}} Amount: {{spell.amount}} <span ng-if="spell.group">Group: {{spell.group}}</span></p>
        </div>
    </div>
    <div ng-show="editorEnabled">
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
     <h1>Battle Board</h1>
    </div>
    <form name="boardForm" ng-submit="save(board)">
      <div class="form-group">
        <label>Name the Battle Board</label>
        <input type="text" ng-model="board.name" name="name" placeholder="Name here" required>
      </div>
      <div class="form-group">
        <label>Select a Character</label>
        <div class="form-group" ng-repeat="(key, value) in characters">
          <label>
            <input type="radio" ng-model="board.character" value="{{value._id}}" > {{value.characterName}}</label>
        <br />
      </div>
      <div class="form-group">
        <hr />
        <h4>Celestial</h4>
        <fieldset data-ng-repeat="spell in board.celestial">
          <select ng-model="spell.name" ng-options="name for name in celestial">
          </select>
          <input type="number" ng-model="spell.amount" name="" placeholder="0">
        </fieldset>
        <button type="button" class="addfields" ng-click="addNewChoice(board.celestial)">Add field</button>
        <button type="button" class="subtractfields" ng-click="removeChoice(board.celestial)">remove field</button>
      </div>
      <div class="form-group">
        <hr />
        <h4>Earth</h4>
        <fieldset data-ng-repeat="spell in board.earth">
          <select ng-model="spell.name" ng-options="name for name in earth">
          </select>
          <input type="number" ng-model="spell.amount" name="" placeholder="0">
        </fieldset>
        <button type="button" class="addfields" ng-click="addNewChoice(board.earth)">Add fields</button>
        <button type="button" class="subtractfields" ng-click="removeChoice(board.earth)">remove field</button>
      </div>
      <div class="form-group">
        <hr />
        <h4>High Magic</h4>
        <fieldset data-ng-repeat="spell in board.highMagic">
          <select ng-model="spell.name" ng-options="name for name in highMagic">
          </select>
          <input type="number" ng-model="spell.amount" name="" placeholder="0">
          <!-- ifs for clarifying details -->
            <input ng-if="spell.name === 'General: Bane <effect group name>' || spell.name === 'General: Cloak <effect group name>'" type="text" ng-model="spell.group" name="" placeholder="Effect Group Name">
        </fieldset>
        <button type="button" class="addfields" ng-click="addNewChoice(board.highMagic)">Add fields</button>
        <button type="button" class="subtractfields" ng-click="removeChoice(board.highMagic)">remove field</button>
      </div>
      <span ng-show="showErrorAlert" class="alert">
        <p>There is an error!</p>
      </span>
      <div>
      </div>
  <button type="submit" class="btn btn-primary" ng-disabled="formInvalid" ng-class="{'btn-danger': formInvalid}">Submit </button>
    </form>
  </div>
</div>
</div>
</div>
